Q1. Explain with an example each when to use a for loop and a while loop.

Ans:-

In [ ]:
##Using while loop

In [1]:
number=int(input("enter the number of element you are looking for"))
a=0
b=1
counter=0
while counter< number:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

enter the number of element you are looking for 5

0
1
1
2
3

In this example, a while loop is used because the number of elements to generate in the Fibonacci sequence (number) is not known in advance. The loop continues until the condition counter < number becomes False. This approach is suitable when the number of iterations or elements depends on a condition that can change during execution.

In [ ]:
##using for loop

In [2]:
a=0
b=1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In this example, a for loop is used because we know in advance that we want to generate exactly 10 elements in the Fibonacci sequence. The loop iterates a fixed number of times ( 10 times) as specified by the range(10) statement. This approach is suitable when we have a predetermined number of iterations or elements.

Q.02 Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [ ]:
#sum using for loop

In [25]:
sum=0
for i in range(0,11):
    sum=sum+i
print("The sum of first 10 natural number is=",sum)

The sum of first 10 natural number is= 55

In [ ]:
##Sum using while loop

In [22]:
num=int(input("The sum of"))
sum=0
i=1
while i<=num:
    sum=sum+i
    i=i+1
    print("the sum of first 10 natural numbers=",sum)

The sum of 10

the sum of first 10 natural numbers= 1
the sum of first 10 natural numbers= 3
the sum of first 10 natural numbers= 6
the sum of first 10 natural numbers= 10
the sum of first 10 natural numbers= 15
the sum of first 10 natural numbers= 21
the sum of first 10 natural numbers= 28
the sum of first 10 natural numbers= 36
the sum of first 10 natural numbers= 45
the sum of first 10 natural numbers= 55

In [ ]:
##Product Using for loop

In [24]:
product=1
for i in range(1,11):
    product=product*i
print("Product of first 10 natural number is=",product)

Product of first 10 natural number is= 3628800

In [ ]:
##Product using while loop

In [1]:
product=1
i=1
while i<=10:
        product=product*i
        i=i+1
print("The product of first 10 natural number is=",product)

The product of first 10 natural number is= 3628800

Q3. Create a python program to compute the electricity bill for a household.

In [7]:
consumed_units = float(input("Enter the units of electricity consumed in a month: "))
bill = 0
user_charges = 0
if consumed_units <= 100:
    user_charges =consumed_units * 4.5
elif consumed_units <= 200:
    user_charges = (100 * 4.5) + ((consumed_units - 100) * 6)
elif consumed_units <= 300:
    user_charges = (100 * 4.5) + (100 * 6) + ((consumed_units - 200) * 10)
else:
    user_charges = (100 * 4.5) + (100 * 6) + (100 * 10) + ((consumed_units - 300) * 20)
    
    bill = user_charges
print(f"Electricity Bill: Rs.",bill)

Enter the units of electricity consumed in a month:  310

Electricity Bill: Rs. 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

ANS:-

Let
Cubes dividible by 4 & 5=l1

In [9]:
##Using for loop
l1=[]
for num in range(1,101):
    cube=num**3
    if cube%4==0 or cube%5==0:
        l1.append(num)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [3]:
# Using a while loop
## Let Cubes Divisible by 4 or 5 =l2
l2= []
num = 1
while num <= 100:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        l2.append(num)
    num =num+1
print(l2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]









Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [6]:
string = "I want to become a data scientist"
def count_vowels(s):
    s = s.lower()
    vowel_count = 0
    vowels = {'a', 'e', 'i', 'o', 'u'}
    for char in s:
        if char in vowels:
            vowel_count=vowel_count+1
    
    return vowel_count
result = count_vowels(string)

print(f"Number of vowels in the string:",result)

Number of vowels in the string: 12